---
layout: page
title: "About"
description: "Hey, this is Xulibao."
header-img: "img/about-bg.jpg"
---

<!-- Language Selector -->
<select onchange= "onLanChange(this.options[this.options.selectedIndex].value)">
    <option value="0" selected> 中文 Chinese </option>
    <option value="1"> 英语 English </option>
</select>

<!-- Chinese Version -->
<div class="zh">
    <blockquote>
        写写代码，做做设计，看看产品。
        世界那么大，多玩玩看看。
    </blockquote>

    <p>程序员，目前在<a href="https://itunes.apple.com/cn/app/jin-tong-wang/id923820059">金桐</a>做一名iOS开发工程师。偶尔也想成为一名<a href="http://www.zhihu.com/question/19589966/answer/12550259">产品工程师</a>，因为听他们说他们的产品总能改变世界。</P>
    <p>设计师，觉得设计师好牛X，设计师的标配是一杯咖啡和一个MacBook 再加上放上两本书，一副眼睛么，什么UI/UX Designer的，人人不都是设计师？您是个有主见的人吗？当然！没错！您一直坚定地按照自己的意愿生活着。不过，或许也可以这么说：您一直是在按照别人设计好的样子“有主见”地生活着……  从牛顿到爱因斯坦，无数科学家束缚在牛顿的三维空间体系类，爱因斯坦跳出了牛顿已知的系统，把时间这个维度加进去了。你是否在设计的你的生活？还是被设计？</p>
    <p>产品狗，热衷于 Web & Mobile 产品，<a href="http://www.zhihu.com/people/xulibao">知乎</a>用户。手机收藏癖，轻微<a href="/tags/#职业病">职业病</a>，没事想想用户痛点、行业趋势、商业模式，无论身处什么职位都很在乎产品本身</p>
    <p>人类，喜欢听歌，轻微抖腿狂 HipHop ，纯音乐什么都来 也爱好出去玩、不会<del>把妹</del>，和家里人什么都说 ，有点逗逼，没事刷刷微博知乎，只看不发那种 而且还喜欢评论某些人 </p>

    <p>哦对了，我叫<b>徐礼宝</b>

    <hr>
   
    一些期待成为的角色:
    <ul>
        <li> UX Unicorn </li>
        <li> Product Engineer </li>
        <li> Creative Technologist </li>
        <li> End to End JavaScript Engineer</li>
        <li> "Full Stack" Engineer/Designer </li>
    </ul>
    对了还有，一些想成为的人:
    <ul>
        <li> 马云</li>
        <li> 尼古拉斯·赵四 </li>
        <li> 金岳霖 </li>
        <li> 扎克伯格 </li>
        <li> 迈克尔·刘能 </li>
    </ul>
</div>

<!-- English Version -->
<div class="en">
    <blockquote>
        Designer or Engineer, things in between.
    </blockquote>

    <p>Student, major in New Media Art of <a href="https://en.wikipedia.org/wiki/Communication_University_of_China">Communication University of China</a>, which is a interdisciplinary subject of technology and art, and now Senior.</p>

    <p>Programmer, JavaScript Engineer Intern of <a href="http://m.wepiao.com/index.html">Wechat Movie</a>, previous worked in <a href="http://alitrip.com" target="_blank">Alibaba Trip</a> as Front End Engineer for one year, looking for opportunities abroad.</p>

    <p>Designer, offered as UI/UX Designer Intern by Alibaba Group, Microsoft Bing etc. Experienced in Motion Graphic Design, also familer with Layout and Typography.</p>

    <p>Product Design and Program Management is also attractive and comfortable to me.</p>

    <p>My Chinese name is <b>Huang Xuan</b>, you can call me English name <b>Hux</b> for short.</p>

    <hr>
    Interested in more details? Just checkout my resumes:
    <ul class="active-list">
        <li><a href="{{site.baseUrl}}/attach/2016_Hux_DEV_en.pdf"> 2016_Hux_DEV_en </a></li>
        <li><a href="{{site.baseUrl}}/attach/2016_Hux_PD_en.pdf"> 2016_Hux_PD_en </a></li>
        <li><a href="{{site.baseUrl}}/attach/2015_Hux_UX & PD_en.pdf"> 2015_Hux_UX & PD_en </a></li>
    </ul>

    My dream position include:
    <ul>
        <li> UX Unicorn </li>
        <li> Product Engineer </li>
        <li> Creative Technologist </li>
        <li> End to End JavaScript Engineer</li>
        <li> "Full Stack" Engineer/Designer </li>
    </ul>
</div>

<!-- Handle Language Change -->
<script type="text/javascript">
    var $zh = document.querySelector(".zh");
    var $en = document.querySelector(".en");
    function onLanChange(index){
        if(index == 0){
            $zh.style.display = "block";
            $en.style.display = "none";
        }else{
            $en.style.display = "block";
            $zh.style.display = "none";
        }
    }
    onLanChange(0);
</script>



{% if site.duoshuo_username %}
<!-- 多说评论框 start -->
<div class="comment">
    <div class="ds-thread"
    {% if site.duoshuo_username == "huxblog" %}
        data-thread-id="1187623191091085319"
    {% else %}
        data-thread-key="{{site.duoshuo_username}}/about"
    {% endif %}

    data-title="{{page.title}}"
    data-url="{{site.url}}/about/"></div>
</div>
<!-- 多说评论框 end -->

<!-- Duoshuo hacking -->
<input id="dsUser" type="hidden" value="{{site.duoshuo_username}}"  />

<!-- 多说公共JS代码 start (一个网页只需插入一次) -->
<script type="text/javascript">
    // dynamic User hacking by Hux
    var _user = document.getElementById('dsUser').value;
    // duoshuo comment query.
    var duoshuoQuery = {short_name: _user };
    (function() {
        var ds = document.createElement('script');
        ds.type = 'text/javascript';ds.async = true;
        ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.js';
        ds.charset = 'UTF-8';
        (document.getElementsByTagName('head')[0]
         || document.getElementsByTagName('body')[0]).appendChild(ds);
    })();
</script>
<!-- 多说公共JS代码 end -->
{% endif %}


{% if site.disqus_username %}
<!-- disqus 评论框 start -->
<div class="comment">
    <div id="disqus_thread" class="disqus-thread">

    </div>
</div>
<!-- disqus 评论框 end -->

<!-- disqus 公共JS代码 start (一个网页只需插入一次) -->
<script type="text/javascript">
    /* * * CONFIGURATION VARIABLES * * */
    var disqus_shortname = "{{site.disqus_username}}";
    var disqus_identifier = "{{site.disqus_username}}/{{page.url}}";
    var disqus_url = "{{site.url}}{{page.url}}";

    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<!-- disqus 公共JS代码 end -->
{% endif %}
